@mixin flex-row(){
    display: flex;
    flex-direction: row;
}


@mixin flex-column(){
    display: flex;
    flex-direction: column;
}



.product-location {

    @include flex-row() ; 

    padding : 40px 100px; 
    gap:25px; 
    


    background-color: var(--primary-color);


    .home-track , .shop-track , .product-track {
        @include flex-row() ;

        

        align-items: center;

        h3 {
            font-size: 16px;
            font-weight: 300;
            
        }


       
    }

    // divider 

    hr{
       height: 100%;
        
        border: 1px black solid;
        margin-right: 35px;
    }

}




// a product 

.product {
    @include flex-row(); 

    padding : 40px 100px; 
   

    gap:80px; 

    border-bottom: 1px rgba(0, 0, 0, 0.279) solid;


    .product-image-container {
        @include flex-row(); 


        .product-choices {
            @include flex-column(); 
            gap:30px; 
        }
    }



    .product-detail-container{

        @include flex-column(); 
        gap:20px; 

    .product-info{


        .rating {
            @include flex-row(); 

            gap:20px;
            align-items: center;
            padding: 15px 0px;



          


             .total-review {
                border-left: 1px black solid;
                padding :0px 22px ; 


                h6 , span {
                    font-size: 13px;
                    font-weight: 100;
                }

             }
        }

        h2{
            font-weight: 500;
        }

        h4{
            color:var(--text-plain); 
        }

        .product-short-des p{
            font-weight: 500;
        }

    }


    .customize-product{

        @include flex-column(); 
        gap:30px;

        border-bottom: 1px rgba(0, 0, 0, 0.279) solid;
        padding-bottom: 40px;

        .size-container{
            h3{
                color:var(--text-plain);
            }

            .size-choosing {
                @include flex-row(); 
                gap:20px;
            }


            .size{
                padding: 5px 15px;
                border: 1px var(--text-plain) solid;

                border-radius: 5px;
                background-color: var(--secondary-color);
            }

            .size:first-child{
                background-color: var(--primary-color);
            }
        }



        .color-container{

            h3{
                color:var(--text-plain);
            }

            .color-choosing {
                @include flex-row(); 
                gap:25px;
            }


            .color{
               width: 30px;
               height: 30px;
               background-color: black;
               border-radius: 20px;
            }


            .color:first-child{
                background-color: purple;
            }

            .color:last-child{
                background-color: var(--primary-color);
            }
        }

        .size-container , .color-container {
           @include flex-column(); 
           gap:15px; 
        }


        .add-cart-container {
            @include flex-row(); 
            align-items: center;
            gap:15px; 


            .quantity{
                @include flex-row(); 
                gap:30px; 
                padding:15px 15px; 

                border: 1px black solid; 
                border-radius: 15px;

                
            }


            .add-cart-btn , .compare-btn{
                gap:50px; 
                padding:15px 25px; 

                border: 1px black solid; 
                border-radius: 15px;

                

            }


            .compare-btn {
                @include flex-row(); 
                gap:10px; 
                

                h4{
                    font-weight: 400;
                }
            }

        }



    }

    .product-social {
        td{
            padding :5px;
        }

        .share-ic {
            @include flex-row();
            align-items: center;
            gap:10px; 
        }
    }


   
    }
}


// description

.product-des-section {

    padding: 50px 100px; 
    

    .product-nav {
        @include flex-row(); 
        justify-content: center;
        color : var(--text-plain); 
        gap: 50px; 
        padding-bottom: 30px;

        h2{
            font-size: 24px;
            font-weight: 400;
        }
      
    

        #description{
            color:black; 
        }
    }


    .product-des {
        @include flex-column(); 
        align-items: center;
        


        .product-text p {
            font-size: 16px;
            margin-bottom: 30px;
        }

        .product-images-container {
            @include flex-row(); 
            gap:30px;
        }
    }
    
   
}


.relation-section{
    @include flex-column();
    align-items: center;
    gap:25px; 
    padding: 60px 0px; 


    .product-cards-con {
        // @include flex-row(); 
        display: flex;
        flex-wrap: wrap;
        gap:20px; 
        justify-content:center;
       

        // .product-card{
        //     flex-grow: 1;
        // }
    }

    .show-more-btn {
        font-size: 16px;
        font-weight: 500;
        color:var(--primary-color);
        border: 1px solid var(--primary-color);
        padding: 15px 80px;
    }
}


