.product-location {
  display: flex;
  flex-direction: row;
  padding: 40px 100px;
  gap: 25px;
  background-color: var(--primary-color);
}
.product-location .home-track, .product-location .shop-track, .product-location .product-track {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-location .home-track h3, .product-location .shop-track h3, .product-location .product-track h3 {
  font-size: 16px;
  font-weight: 300;
}
.product-location hr {
  height: 100%;
  border: 1px black solid;
  margin-right: 35px;
}

.product {
  display: flex;
  flex-direction: row;
  padding: 40px 100px;
  gap: 80px;
  border-bottom: 1px rgba(0, 0, 0, 0.279) solid;
}
.product .product-image-container {
  display: flex;
  flex-direction: row;
}
.product .product-image-container .product-choices {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product .product-detail-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product .product-detail-container .product-info .rating {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 15px 0px;
}
.product .product-detail-container .product-info .rating .total-review {
  border-left: 1px black solid;
  padding: 0px 22px;
}
.product .product-detail-container .product-info .rating .total-review h6, .product .product-detail-container .product-info .rating .total-review span {
  font-size: 13px;
  font-weight: 100;
}
.product .product-detail-container .product-info h2 {
  font-weight: 500;
}
.product .product-detail-container .product-info h4 {
  color: var(--text-plain);
}
.product .product-detail-container .product-info .product-short-des p {
  font-weight: 500;
}
.product .product-detail-container .customize-product {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px rgba(0, 0, 0, 0.279) solid;
  padding-bottom: 40px;
}
.product .product-detail-container .customize-product .size-container h3 {
  color: var(--text-plain);
}
.product .product-detail-container .customize-product .size-container .size-choosing {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.product .product-detail-container .customize-product .size-container .size {
  padding: 5px 15px;
  border: 1px var(--text-plain) solid;
  border-radius: 5px;
  background-color: var(--secondary-color);
}
.product .product-detail-container .customize-product .size-container .size:first-child {
  background-color: var(--primary-color);
}
.product .product-detail-container .customize-product .color-container h3 {
  color: var(--text-plain);
}
.product .product-detail-container .customize-product .color-container .color-choosing {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.product .product-detail-container .customize-product .color-container .color {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 20px;
}
.product .product-detail-container .customize-product .color-container .color:first-child {
  background-color: purple;
}
.product .product-detail-container .customize-product .color-container .color:last-child {
  background-color: var(--primary-color);
}
.product .product-detail-container .customize-product .size-container, .product .product-detail-container .customize-product .color-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product .product-detail-container .customize-product .add-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.product .product-detail-container .customize-product .add-cart-container .quantity {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 15px 15px;
  border: 1px black solid;
  border-radius: 15px;
}
.product .product-detail-container .customize-product .add-cart-container .add-cart-btn, .product .product-detail-container .customize-product .add-cart-container .compare-btn {
  gap: 50px;
  padding: 15px 25px;
  border: 1px black solid;
  border-radius: 15px;
}
.product .product-detail-container .customize-product .add-cart-container .compare-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product .product-detail-container .customize-product .add-cart-container .compare-btn h4 {
  font-weight: 400;
}
.product .product-detail-container .product-social td {
  padding: 5px;
}
.product .product-detail-container .product-social .share-ic {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.product-des-section {
  padding: 50px 100px;
}
.product-des-section .product-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--text-plain);
  gap: 50px;
  padding-bottom: 30px;
}
.product-des-section .product-nav h2 {
  font-size: 24px;
  font-weight: 400;
}
.product-des-section .product-nav #description {
  color: black;
}
.product-des-section .product-des {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-des-section .product-des .product-text p {
  font-size: 16px;
  margin-bottom: 30px;
}
.product-des-section .product-des .product-images-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.relation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 60px 0px;
}
.relation-section .product-cards-con {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.relation-section .product-cards-con .product-card {
  flex-grow: 1;
}
.relation-section .show-more-btn {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 15px 80px;
}/*# sourceMappingURL=single.css.map */