/* poppine font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #b88e2f;
  --secondary-color: #f9f1e7;
  --third-color: #fff3e3;
  --dis-color: #e97171;
  --new-color: #2ec1ac;
  --drop-color: #666666;
  --text-color: #333333;
  --text-plain: #b0b0b0;
  --white-bg: #ffffff;
  --card-bg: #f4f5f7;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: var(--white-bg);
  color: var(--text-color);

  /* no scrollable in x ..  */
}

.flex-row,
.flex-column {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* navigation 1 */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 55px;

  /* to add padding later  */
  /* background-color: var(--white-bg); */
}

nav ul {
  display: flex;
  gap: 75px;
}

nav ul a {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

nav ul a:hover {
  font-weight: 700;
}

.nav-ic-con {
  display: flex;
  gap: 50px;
}

.cart-ic {
  cursor: pointer;
}

/* shopping cart slider hidden */

.cart-page,
.menu2 {
  height: 40px;
}
.menu2 {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 0px;
}
.cart-page {
  height: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 0px;
}

#toggle-cart {
  display: none;
}

#toggle-cart:checked ~ .cart-slider {
  height: 600px;
}

.cart-slider {
  width: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  top: 76px;
  background-color: white;
  padding: 8px 30px;
  clear: both;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  /* background-color: rgb(27, 24, 217); */

  transition: all 0.3s ease;
}

.cart-ic {
  transition: all 0.2s ease-in-out;
}

.item,
.top-title,
.item-price,
.btn-con {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.top-title {
  justify-content: space-between;
  border-bottom: 1px var(--text-plain) solid;
  padding-bottom: 10px;
}
.item {
  justify-content: space-between;
  margin-top: 20px;
}

.cart-items {
  margin-bottom: 150px;
}

.item-price h3:first-child {
  font-size: 16px;
  font-weight: 500;
}

.item-price h3:last-child {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  margin-left: 90px;
}

.btn-con {
  justify-content: space-between;
  border-top: 1px rgba(0, 0, 0, 0.394) solid;
  padding: 30px 0px;
  margin-top: 20px;
}

.btn {
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 30px;
  padding: 5px 20px;
}

/* product section  */

.product-card {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  position: relative;

  background-color: var(--card-bg);
}

/* ---------- */
.card-img {
  width: 100%;
}

.badge {
  font-size: 14px;
  font-weight: 500;
  color: var(--white-bg);

  width: 45px;
  height: 45px;
  background-color: var(--dis-color);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 20px;
  right: 20px;
}

.no-discount {
  display: none;
}

/* for new badge */

.badge.new {
  background-color: var(--new-color);
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;

  padding-bottom: 25px;
}

.card-body h4 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.card-body h6 {
  font-size: 16px;
  font-weight: 300;

  color: var(--text-plain);

  line-height: 150%;
}

.product-card .card-body .price {
  display: flex;
  justify-content: space-between;
}

.price p {
  color: var(--text-plain);
  font-size: 16px;
}

.price p:first-child {
  color: var(--text-color);
  font-weight: 600;
  font-size: 20px;
}

.price p:last-child {
  text-decoration: line-through;
}

/* card hovering */

/* hover card */
.card-hover {
  background-color: rgba(102, 102, 102, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  gap: 25px;

  position: absolute;

  /*     
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; */

  /* the same as below  */
  inset: 0;

  transform: translateY(-100%);
  transition: 0.5s ease-in;

  opacity: 0;

  /* while hovering the card will drop down from top and opacity 0 mean,... start with transparant and end with full color . */
}

.add-to-cart-btn {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  padding: 15px 50px;
  cursor: pointer;
  background-color: var(--white-bg);
}

.icons-con {
  display: flex;
  gap: 20px;
}

.icon-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.icon-item h5 {
  color: var(--white-bg);
  font-size: 16px;
}

/* while hovering */

.product-card:hover .card-hover {
  transform: translateY(0);
  opacity: 1;
}

/* navigation 2 for tablet and phone */
.nav2 {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 30px 55px;
}

.nav2 .logo {
  height: 50px;
}

.nav2 .search-bar {
  border: 1px black solid;
  width: 30%;
  height: 50px;
  align-items: center;

  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.search-bar h3 {
  color: var(--text-plain);
}

/* service section */

.service-section {
  justify-content: space-around;
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  padding: 100px 0px;
  background-color: var(--secondary-color);
}

.service-section div {
  gap: 10px;
}
.service-section h3 {
  font-size: 25px;
  font-weight: 500;
}

.service-section h4 {
  font-size: 20px;
  font-weight: 300;
}

/* FOOTER SECTION */

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer-link {
  display: flex;
  justify-content: space-evenly;
}

.about-funiro-con,
.links-con,
.help-con,
.newsletter-con {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-funiro-con h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
}

.about-funiro-con p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-plain);
}

.links-con h3,
.help-con h3,
.newsletter-con h3 {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-plain);
}

.links-con a,
.help-con a,
.newsletter-con a {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.footer-section hr {
  border: 1px solid rgba(0, 0, 0, 0.181);
  width: 100%;
}

.copyright {
  font-size: 16px;
  font-weight: 200;
  color: var(--text-color);
}

.newsletter-con input {
  border-bottom: 1px solid var(--text-color);
}
.newsletter-con input:first-child,
.newsletter-con input:last-child {
  color: var(--text-color);
  font-size: 16px;
}

.subscribe {
  display: flex;
  gap: 20px;
}

/* humbarger */

a {
  color: black;
  text-decoration: none;
}

.menu-bar,
#navbar {
  height: 40px;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 0px;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  /* position: relative; */
  width: 40px;
  height: 5px;
  margin-top: 7px;

  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 600px;
}

/* Menu */
.menu1 {
  position: absolute;
  right: 0;
  top: 110px;
  margin: 0;
  display: flex;
  flex-direction: column;

  padding: 0px 20px;
  list-style: none;
  clear: both;

  width: 30%;

  /* i wish to change another color */
  background-color: rgb(160, 160, 160);
  text-align: left;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;

  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px "Oswald", sans-serif;
}

.icon {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pad {
  padding-left: 48px;
}

.link:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);

  transition: all 0.3s ease;
}

@media only screen and (max-width: 1008px) {
  .nav2 {
    display: flex;
  }
  .nav1 {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .logo {
    max-width: 100px;
    max-height: 30px;
  }
  .logo img {
    max-width: 100%;
  }

  .nav1,
  .nav2 {
    padding: 10px 30px;
    /* align-items: center; */
  }

  /* .search-bar h3 {
    display: none;
  } */
  .nav2 .search-bar {
    padding: 5px;
    height: 30px;
    width: 30%;
  }
  .search-ic {
    width: 15px;
    height: 15px;
  }

  .hamburger1 div {
    width: 30px;
    height: 3px;
    margin-top: 4px;
  }

  .menu-bar,
  #navbar {
    height: 30px;
  }
}
