.product-location {
  background-image: url(../img/product_compare_bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.product-location .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.product-location h2, .product-location h4 {
  font-weight: 400;
}

.billing-section {
  display: flex;
  flex-direction: row;
  padding: 70px;
  gap: 100px;
  justify-content: center;
}
.billing-section .billing-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.billing-section .billing-info h2 {
  font-weight: 700;
  font-size: 30px;
}
.billing-section .billing-info input, .billing-section .billing-info select {
  border: 1px black solid;
  height: 40px;
  border-radius: 7px;
  margin-top: 10px;
  padding: 5px 10px;
}
.billing-section .billing-info form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.billing-section .billing-info .form-group {
  display: flex;
  flex-direction: column;
}
.billing-section .billing-info .name-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.billing-section .billing-info .name-group .first-class, .billing-section .billing-info .name-group .last-class {
  display: flex;
  flex-direction: column;
}
.billing-section .place-order {
  flex: 1;
}
.billing-section .place-order table {
  border-bottom: 1px rgba(0, 0, 0, 0.448) solid;
  width: 100%;
  font-size: 16px;
}
.billing-section .place-order table th, .billing-section .place-order table td {
  height: 40px;
}
.billing-section .place-order table th {
  text-align: start;
}
.billing-section .place-order table .title {
  font-weight: 500;
  font-size: 24px;
}
.billing-section .place-order table .totital {
  font-weight: 500;
}
.billing-section .place-order table #total-price {
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-color);
}
.billing-section .place-order table .product span {
  margin: 0px 10px;
}
.billing-section .checkout-type-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.billing-section .checkout-type-submit #bank-pa, .billing-section .checkout-type-submit #e-pa, .billing-section .checkout-type-submit #cash-pa {
  color: rgba(0, 0, 0, 0.384);
}
.billing-section .checkout-type-submit #privacy {
  font-weight: 500;
}
.billing-section .checkout-type-submit #order-btn {
  border: 1px black solid;
  width: 200px;
  padding: 10px 8px;
  border-radius: 15px;
}
.billing-section .checkout-type #bank-pa, .billing-section .checkout-type #e-pa, .billing-section .checkout-type #cash-pa {
  display: none;
}
.billing-section .checkout-type #bank-direct:checked + label + #bank-pa {
  display: block;
}
.billing-section .checkout-type #wave-pay:checked + label + #e-pa {
  display: block;
}
.billing-section .checkout-type #cash-on-deliver:checked + label + #cash-pa {
  display: block;
}

@media only screen and (max-width: 1008px) {
  .billing-section {
    gap: 20px;
    padding: 20px;
    flex-direction: column;
  }
  .billing-section .billing-info {
    gap: 20px;
  }
  .billing-section .billing-info .form-group {
    padding: 5px 15px;
  }
}/*# sourceMappingURL=checkout.css.map */